<h1>This is the ahoy view</h1>
<h2>Located at -> app/views/say/ahoy.html.erb</h2>
<p> From here you can go to: <%= link_to "Hello", say_hello_path %>
but you can go to <%= link_to "Goodbye", say_goodbye_path %> too!</p>
