<h1>This is the Goodbye view</h1>
<h2>Located at -> app/views/say/goodbye.html.erb</h2>
<p>Ha visitado siendo las: <%= @time %></p>
<p>Say <%= link_to "Hello", say_hello_path %> again!</p>
<p>Visit the <%= link_to "Ahoy!", say_ahoy_path %> zone, it's free!</p>
